@media (max-width: 1200px){
    /* First wallpaper */

    .alliens_wrap{
        margin-bottom: -5px;
    }


    /* Collage with alliens */

    .collage{
        margin-bottom: -2px;
        height: 75vh;
        background-size: 30%;
    }

    .rotatable_al{
        width: 80px;
        top: 70%;
    }

    .sec_al{
        width: 15rem;
        top: 30%;
    }

    .third_al{
        width: 26rem;
        top: 30%;

    }


    /* Alliens' cards */
    .cards{
        padding: 12.5rem 0 0 0;
        width: 48rem;
    }

    .without_shape{
        padding: 80px 0;
    }

   .background_of_two{
        background-size:100vw;
    }

   /* Wallpaper to UNHOLEY */

    .full_width_img{
        background-size:100vw;
        height:79vh; 
        padding-bottom: 16rem;
    }
    
    .full_width_img h1{
        font-size: 2.2rem;
    }

    /* Two heads wallpaper */
    
    .heads{
        height: 60vh;
    } 


    /* B&W cards with heads */
   .cards_grid{
       padding: 12.5rem 0 6.25rem 0;
       grid-gap: 3px;
   }

    .cards_collection{
        padding: 6.25rem 0;
    }

    /* Alice in wonderland wallpaper */
    .wallpaper{
        height: 90vh;
    }

    .wallpaper h2{
        font-size: 2.2rem;
    }

    .three_column_grid{
        width: 76vw;
        grid-gap: 41px;
        padding: 6.25rem 0 0 0;
    }

    .cards_collection{
        grid-gap: 15px;
        width: 76vw;
        padding: 5rem 0;
    }

    .gallery_wrapper h2{
        padding: 2.8rem 0;
        font-size: 2.2rem;
    }
    /* Gallery pic */

    .picture_out_row2{
        right: 21.2rem;
    }

    /* Contacts */

    .contact{
        margin: 4.3rem 0 0 0;
    }
}





@media (max-width: 992px){

    /* Alliens inside collage */

    .rotatable_al{
        top: 80%;
        left: 11.8rem;
    }

     .sec_al{
        left: 10.5rem;
    }

    .third_al{
        width: 24rem;
        right: 2rem;
    }

    /* Alliens' cards */
    .cards{
        width: 40rem;
    }

    /* Wallpaper to UNHOLEY */

   .full_width_img{
        padding-bottom: 6.8rem;
    }

    /* Two heads wallpaper */

    .heads p{
        width: 12rem;
        font-size: 0.9rem;
        line-height: 1.2rem;
    } 

    /* B&W cards with heads */

    .cards_grid{
        padding: 7rem 0 0 0;
    }

    .gif{
        padding: 70px 0;
    }
    /* Alice in wonderland wallpaper */
    
    .wallpaper h2{
        font-size: 1.9rem;
        right: 0;
        left: 24.2rem;
    } 


    /* Gallery of few illustrations */
    .gallery_wrapper h2{
        padding: 2rem 0;
        font-size: 2rem;
    }

    .picture_out_row2{
        right: 17.5rem;
    } 
}





@media (max-width: 768px){
    
    .collage{
       height: 50vh;
    }
    /* Alliens inside collage */

    .rotatable_al{
        width: 60px;
        top: 100%;
        left: 113px;
    }

    .sec_al{
        width: 12rem;
        left: 111px;
    }

    .third_al{
        width: 20rem;
        right: 33px;
    }

    /* Alliens' cards */
    .cards{
        padding: 200px 0 0 0;
        width: 35rem;
    }

    .without_shape{
        padding:60px 0;
    }

   .background_of_two{
        padding-bottom: 3rem;
    }

    /* Wallpaper to UNHOLEY */

    .full_width_img{
        padding-bottom: 0;
    }

    .full_width_img h1{
        padding: 1.3rem;
        font-size: 1.8rem;
    }

    /* Two heads wallpaper */
    .heads{
        height: 60vh;
    }

    .heads p{
        width: 12rem;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    /* B&W cards with heads */

    .cards_grid{
        padding: 21px 0 47px 0;
    }

    .gif{
        padding: 0;
    }
    /* Alice in wonderland wallpaper */
    .wallpaper{
        height: 68vh;
    }
    
    .wallpaper h2{
        font-size: 1.7rem;
        line-height: 30px;
        right: 0;
        left: 24.2rem;
    } 
    
    /* Total poker cards block */
   
   .three_column_grid p {
       width: 12.3rem;
       font-size: 0.8rem;
       line-height: 1.1rem;
   }

   .three_column_grid{
       padding: 5rem 0;
   }

    .cards_collection{
        padding:0 0 4.25rem 0;
        grid-gap: 13px;
    }


    /* Gallery of few illustrations */
    .gallery_wrapper h2{
        padding: 2rem 0;
        font-size: 1.8rem;
    }

    .picture_out_row2{
        right: 13.3rem;
    }
}
